{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

<div class="container create-schedule-container">
  <h1>Library</h1>

  <h2>Public Templates</h2>

<div class="flex-row">

  {% for schedule in schedules %}

  <figure class="figure">
      <a href="{{ url_for('display_schedule', id = schedule.id) }}">
	{{schedule.name }}
        <figcaption class="figure-caption figure-caption-title">{{schedule.desc}}</figcaption>
      </a>
    </figure>

    {% endfor %}

</div>

{% endblock %}
